.contenedor-principal {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.temporizador {
  background-color: #6cc644;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tiempo {
  font-size: 2em;
  margin-top: 5px;
}

.contenedor-cruce {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: inline-block;
}

.imagen-cruce {
  width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.semaforo {
  position: absolute;
  width: 120px;
  height: 120px;
}

.imagen-semaforo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.luces-semaforo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.luz-circular {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.luz-circular.roja {
  background-color: #330000;
  top: 20px;
  left: 46px;
  
}

.luz-circular.roja.activa {
  background-color: #ff0000;
  box-shadow: 0 0 15px #ff0000;
}

.luz-circular.amarilla {
  background-color: #6c7107;
  top: 48px;
  left: 46px;
}

.luz-circular.amarilla.activa {
  background-color: #ffff00;
  box-shadow: 0 0 15px #ffff00;
}

.luz-circular.verde {
  background-color: #003300;
  top: 77px;
  left: 46px;
}

.luz-circular.verde.activa {
  background-color: #00ff00;
  box-shadow: 0 0 15px #00ff00;
}


/* Posicion de los semaforos: */
/*Semaforo de Arriba*/
.semaforo-1 {
  top: 29%;
  left: 33.8%;
  transform: rotate(180deg);
}

/*Semaforo de la derecha*/
.semaforo-2 {
  top: 34.1%;
  right: 29%;
  transform: rotate(-90deg);
}

/*Semaforo de la izquierda*/
.semaforo-3 {
  top: 49.8%;
  left: 28.5%;
  transform: rotate(90deg);
}

/*Semaforo de abajo */
.semaforo-4 {
  bottom: 28.9%;
  left: 49.9%;
  transform: rotate(0deg);
}


@media (max-width: 768px) {
  .semaforo {
    width: 60px;
    height: 60px;
  }
  
  .luz-circular {
    width: 15px;
    height: 15px;
  }
}
